<!DOCTYPE html>
<html class="html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>All Posts | Blog</title>
    <meta name="theme-color" content="#FFFFFF">
    <meta name="charset" content="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/vs_mod.css">


</head>

<body class="body">
    <header class="header" itemscope="" itemtype="http://schema.org/WPHeader">
        <nav class="navbar navbar-light navbar-expand-md fixed-top header" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="container"><a class="navbar-brand" href="/">Author</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" itemprop="url" href="/">Blog</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" itemprop="url" href="/about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <article class="post">
                        <div class="row">
                            <div class="col">
                                <header id="post-header">
                                    <h1 class="d-xl-flex align-items-xl-center post-title">All Posts<span class="badge badge-pill badge-info float-none post-list-tag"></span></h1>
                                    <p class="text-muted post-meta">Sorted by date.</p>
                                </header>
                            </div>
                        </div>
                        <div class="row post-body">
                            <div class="col text-justify"><div>
    <ul class="topic-list">
        {% for post in newest_posts %}
        <li><a href={{ post_db[post].url }}>{{ post_db[post].post_title }}</a><span class="text-muted topic-list-date">, posted {{ post_db[post].date|get_month_name }} {{ post_db[post].date.year }}.</span></li>
        {% endfor %}
    </ul>
</div></div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="text-muted footer" itemscope="" itemtype="http://schema.org/WPFooter" style="padding-right: 1em;padding-left: 0px;">
            <div class="col-sm-12 col-lg-9" style="padding-left: 0px;">
                <footer><p class="copyright float-left">
    <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">Author</span>
    </span> &copy;
    <span itemprop="copyrightYear">
        <noscript>
            2019
        </noscript>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            if (year > 2019) {
                year = 2019 + ' - ' + year;
            }
            document.write(year);
        </script>
    </span>
</p></footer>
            </div>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>